---
layout: default
title: "Blog · Tracy"
---


<div id="home">
  <span class="index_recent">最近文章：</span>
  <ul class="posts">
    {% for post in site.posts limit:15 %}
      {% if post.categories contains "公众号" %}
        {% if post.display %}
      <li><span class="post_date">{{ post.date | date_to_string }}</span><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endif %}
      {% else %}
      <li><span class="post_date">{{ post.date | date_to_string }}</span><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
    <span class="index_more"><li><a href="/archive.html">更多……</a></li></span>
  </ul>
</div>
